<?xml version="1.0"?>
<config>
    <modules>
        <VS7_CustomerAnonymize>
            <version>0.0.1</version>
        </VS7_CustomerAnonymize>
    </modules>
    <frontend>
        <layout>
            <updates>
                <VS7_CustomerAnonymize>
                    <file>vs7_customeranonymize.xml</file>
                </VS7_CustomerAnonymize>
            </updates>
        </layout>
        <routers>
            <vs7_customeranonymize>
                <use>standard</use>
                <args>
                    <module>VS7_CustomerAnonymize</module>
                    <frontName>vs7_customeranonymize</frontName>
                </args>
            </vs7_customeranonymize>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vs7_customeranonymize before="Mage_Adminhtml">VS7_CustomerAnonymize_Adminhtml</vs7_customeranonymize>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <vs7_customeranonymize>
                <class>VS7_CustomerAnonymize_Block</class>
            </vs7_customeranonymize>
        </blocks>
        <models>
            <vs7_customeranonymize>
                <class>VS7_CustomerAnonymize_Model</class>
            </vs7_customeranonymize>
        </models>
        <helpers>
            <vs7_customeranonymize>
                <class>VS7_CustomerAnonymize_Helper</class>
            </vs7_customeranonymize>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <vs7_customeranonymize_model_resource_observer>
                        <class>VS7_CustomerAnonymize_Model_Observer</class>
                        <method>addAnonymizeButton</method>
                    </vs7_customeranonymize_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <!--<template>-->
            <!--<email>-->
                <!--<vs7_customeranonymize_confirm translate="label" module="VS7_CustomerAnonymize">-->
                    <!--<label>VS7 CustomerAnonymize Confirm</label>-->
                    <!--<file>vs7_customeranonymize/confirm.html</file>-->
                    <!--<type>html</type>-->
                <!--</vs7_customeranonymize_confirm>-->
                <!--<vs7_customeranonymize_confirm translate="label" module="VS7_CustomerAnonymize">-->
                    <!--<label>VS7 CustomerAnonymize Success</label>-->
                    <!--<file>vs7_customeranonymize/success.html</file>-->
                    <!--<type>html</type>-->
                <!--</vs7_customeranonymize_confirm>-->
            <!--</email>-->
        <!--</template>-->
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_customeranonymize translate="title" module="vs7_customeranonymize">
                                            <title>VS7 Customer Anonymize</title>
                                        </vs7_customeranonymize>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <VS7_CustomerAnonymize>
            <options>
                <enabled>1</enabled>
            </options>
            <configuration>
                <cms_page>home</cms_page>
            </configuration>
        </VS7_CustomerAnonymize>
    </default>
</config>