<?xml version="1.0"?>
<config>
    <tabs>
        <vs7 translate="label">
            <label>VS7</label>
            <sort_order>210</sort_order>
        </vs7>
    </tabs>
    <sections>
        <vs7_customeranonymize translate="label" module="vs7_customeranonymize">
            <label>Customer Anonymize</label>
            <tab>vs7</tab>
            <frontend_type>text</frontend_type>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <configuration translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Customer Account Anonymize</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <successmessage translate="label">
                            <label>Success message</label>
                            <comment>The message shown to customers on the frontend after deleting their account</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </successmessage>
                        <cms_page translate="label">
                            <label>Information Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_page>
                    </fields>
                </configuration>
            </groups>
        </vs7_customeranonymize>
    </sections>
</config>